<!DOCTYPE html>
<html>
  <head>
    <title>Hawthorne Travel</title>
  </head>
  <body>
    <header>
      <img src="/img/logo.jpg" alt="GG Bridge Travel Logo" /></header>
    {{{body}}}
  </body>
</html>
